body {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    box-sizing: border-box;
    margin: 0px;
}

.container {
    height: 100%;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 65px;
    line-height: 1.2em;
    border-bottom: #CCC solid 1px;
    padding: 20px 0;
    margin-top: 0px;
}

.slide {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding: 0 20px;
    background-attachment: fixed;
    background-size: auto 80%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

.menu ul {
    list-style: none;
    width: 50%;
    margin: 0 auto;
}

.menu li {
    margin: 10% 10% 0 10%;
    float: left;
}

.menu li a {
    color: black;
    text-decoration: none;
    font-size: larger;
    position: relative;
    overflow: hidden;
}

.menu li a:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: #000;
    height: 2px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.menu li a:hover:after {
    left: 0;
    right: auto;
    width: 100%;
}

.about {
    margin: 0px;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.stickman {
    margin: 20px 0px 20px 20px;
    border: solid 1px #CCC;
}

.deck {
    margin: 20px 20px 20px 20px;
    border: solid 1px #CCC;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0.5em;
    padding: 10px 10px 10px 10px;
}

.card {
    border: solid 1px #CCC;
    padding: 10px 10px 10px 10px
}

.card h6{
    font-size: 1em;
    margin: 0px;
}

.card:hover{
    border:dashed #CCC;
}

.gradution {
    height: 100%;
    display: flex;
    align-items: center;
    height: 100%;
}

.gradution svg {
    align-items: center;
    height: 100%;
    width: 100%;
}

.path {
    stroke-dasharray: 4110;
    stroke-dashoffset: 4110;
    animation: dash 5s linear;
    animation-fill-mode:forwards;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  .hide{
      display: none;
  }

  .slide-transform {
    transition: transform 1000ms ease; 
    transform: translate3d(0px, -50%, 0px);
  }
  .slider-frame{
     height: 200%;
     transition: transform 1000ms ease; 
     transform: translate3d(0px, -50%, 0px);
  }